*{
    margin: 0;
    box-sizing: border-box;
}
  
html {
    height: 100%;
    width: 100%;
}
  
body{
    width: 100%;
    color: #000000;
    font-size: 16px;
}

.content-wrapper{
    width: 100%;
    margin: auto;  

}

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.header .logo{
    padding: 0;
}

.logo span {
    display: block;
}

.logo img {
    width: 30%;
    height: 30%;
    display: inline-block;
    vertical-align: bottom; 
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .logo img {
        width: 30%;
        height: 30%;
        display: inline-block;
        vertical-align: bottom;
    }
}

@media only screen and (min-width: 1024px) {
    .logo img {
        width: 120px;
        height: 120px;
    }
 }

.logo .slogan {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 2px #888888;
    padding-bottom: 16px;
    padding: 5px 5px 5px 5px;
    display:none;
}

@media only screen and (min-width: 700px) {
.logo .slogan{
    display: none;
    }
}


@media only screen and (min-width: 1024px) {
    .logo .slogan {
        color: #000000;
        width: 10%;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 2px 2px 2px #888888;
        padding-bottom: 16px;
    }
 }

.top-nav{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 700px) {
    .top-nav{  
        float: right;
    }
  }
  .top-nav a{
      text-decoration: none;
      margin: 10px;
      font-size: 12px;
       color: #000000;
  }

  .border{
    border-bottom: 3px solid #93D6E0;
  }

  @media only screen and (min-width: 700px) {
    .top-nav a{  
        margin: 10px;
        font-size: 12px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .top-nav a{  
        margin: 20px;
        font-size: 18px;
    }
  }

.content-section{
    max-width: 100%; 
    text-align: justify;
}

.content-section.hero-title {
    margin-top: 0;
    width: 100%;
}

.content-title {
    text-align: center;
    padding: 20px 0 20px 0;
}

/*./CONTENT*/

/*Hero section*/
.hero-title {
    background-size: cover;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
}

.title-img{
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3));
}

.title-img{
    font-size: 16px;
    width: 50%;
    padding: 5px;
    position: absolute;
    top: 27%;
    left: 26%;
}

@media only screen and (min-width: 700px) {
    .title-img{
        padding: 15px;
        top: 28%;
        left: 27%;
    }
}

@media only screen and (min-width:1024px) {
    .title-img{
        top: 41%;
    }
}

.title-img h1{
    color: #fff;
    font-size: 18px;
}

@media only screen and (min-width: 700px) {
    .title-img h1{
        font-size: 26px;
    }
}

button{
    background: #008CBA;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
}
.hero{
    max-width: 1024px;
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.hero-button{
    text-align: center;
    margin-top: 20px;
}

.read-more{
    text-decoration: none;
    color: #fff;
    background: #454545;
    padding: 10px 20px;
    border-radius: 20px;
}

.hero p{
    margin-bottom: 30px;
}

.container-section{
    width: 100%;
    display: block;
    margin-top: 60px;
}

@media only screen and (min-width: 700px) {
    .container-section{
        display: flex;
        justify-content: space-evenly;
    }
}

.container-section img:first-of-type{
    height: 49%;
}

section{
    padding-top: 15px;
    background: #EDEFF0;
    padding-bottom: 30px;
}

section h1{
    text-align: center;
}

.box-news{
    width: 70%;
    height: 100%;
    background: #fff;
    margin-bottom: 30px;
    margin: auto;
}

@media only screen and (min-width: 700px) {
    .box-news{
        width: 30%;
        height:520px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1024px) {
    .box-news{
        width: 25%;
        height:520px;
    }
}

.box-news:last-child{
    margin-bottom: 0px;
}

.box-news img{
    width: 100%;
    height: 100%;
    margin-bottom: 26px;
}


@media only screen and (min-width: 700px) {
    .box-news img{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}

.box-news h3{
    text-align: center;
}

.box-news p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
}

@media only screen and (min-width: 700px) {
    .box-news .first{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .box-news .first{
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 700px) {
    .box-news .last{
        margin-bottom: 25px;
    }
}
    
@media only screen and (min-width: 1024px) {
    .box-news .last{
        margin-bottom: 50px;
    }
}

.box-news a{
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #454545;
}

.btn-readMore{
    text-align: center;
    margin-bottom: 10px;
}

footer{
   background: #125064;
   color: #fff;
}

footer img{
    margin: 20px 30px;
}

footer p{
    font-size: 16px;
}

.footer-box{
    margin-left: 15%;
}

footer h3{
    margin-bottom: 20px;
}

.italic{
    color: #fff;
    font-style: italic;
    margin: 10px 0px;
}

.footer-container{
    display: block;
    margin-bottom: 20px;
}
@media only screen and (min-width: 700px) {
    .footer-container{
        display: flex;
        justify-content:space-around;
    }
}
@media only screen and (min-width: 700px) {
    .footer-box{
        margin-left: 0px;
        width: 30%;
    }
}

.last-p{
    color: #fff;
    text-align: center;
}